:root {
  /* головні шрифти */

  --main-font: 'Roboto', sans-serif;
  --logo-font: 'Raleway', sans-serif;
  /* кольори */

  --main-dark: #212121;
  --main-gray: #757575;
  --main-link: #2196f3;
  --main-background: #2f303a;
  --main-light: #ffffff;

  --secondary-color: rgba(255, 255, 255, 0.6);
  --secondary-background: #188ce8;

  --background-filter: #f5f4fa;
}

body {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;

  color: var(--main-dark);
}

/*index.html*/

.list {
  list-style: none;
  text-decoration: none;
}

.link {
  text-decoration: none;
}

.logo {
  font-family: var(--logo-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: inherit;
}

.logo span {
  color: var(--main-link);
}

.menu-link {
  font-weight: 500;
  letter-spacing: 0.02em;
  color: inherit;
}

.menu-link:hover,
.menu-link:focus,
.footer-link:hover,
.footer-link:focus,
.actual-link {
  color: var(--main-link);
}

.header-mail,
.header-tel {
  font-weight: 500;
  letter-spacing: 0.02em;
  color: var(--main-gray);
}

.header-mail:hover,
.header-mail:focus,
.header-tel:hover,
.header-tel:focus {
  color: var(--main-link);
}

.hero,
.footer {
  background: var(--main-background);
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-light);
}

.modal-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--main-light);
  background: var(--main-link);
  cursor: pointer;
}

.modal-btn:hover,
.modal-btn:focus {
  background: var(--secondary-background);
}

.benefits-title {
  font-weight: 700;
  text-transform: uppercase;
}

.benefits-description {
  line-height: 1.71;
  color: var(--main-gray);
}

.people {
  background-color: var(--background-filter);
}

.work-title,
.people-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.people-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

.people-profession {
  font-size: 16px;
  line-height: 1.19;
  color: var(--main-gray);
}

.footer .logo {
  color: var(--main-light);
}

.address {
  font-style: inherit;
  line-height: 1.71;
  color: var(--main-light);
}

.footer-link {
  line-height: 1.71;
  color: var(--secondary-color);
}

/*portfolio.html*/

.filter button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  background-color: var(--background-filter);
  cursor: pointer;
}

.filter button:hover,
.filter button:focus {
  color: var(--main-light);
  background-color: var(--main-link);
}

.works h2 {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.works p {
  font-size: 16px;
  line-height: 1.88;
  color: var(--main-gray);
}
